<form method="post" enctype="multipart/form-data">
    <p>Vyberte soubor HTML</p>
    <input class="" type="file" name="filetoupload" accept=".html"><br>
    <input type="submit" class="btn btn-primary" value="Konvertovat">
</form>