<!DOCTYPE html>
<html>
<head>
    <title>Idoklad - FioBank konvertor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <script src='../javascripts/jquery.min.js'></script>
    <script src='../javascripts/bootstrap.min.js'></script>
</head>
<body>

<h1 style="text-align: center; color: white">Idoklad - FioBank konvertor</h1>
<div class="main well">
    {{{body}}}
</div>
</body>
</html>
